<div align="center">
  <h1>Hangman Games</h1>

  <%= link_to "New Game", new_game_path %>
</div>

<% @games.each do |game| %>
  <div class="grid">
    <div class="item"><%= link_to game.player, game %></div>
  </div>
<% end %>