<div align="center">
  <h1>Hangman Games</h1>

  <%= link_to "New Game", new_game_path %>

  <ul>
    <% @games.each do |game| %>
      <p>
        <%= link_to game.player, game %>
      </p>
    <% end %>
  </ul>
</div>
